.divcss5{width:100px;height:50px;border:1px solid #F00;float: left;} 
.divcss1{width:100px;height:30px;border:1px solid #F00;float: left;} 
td {
    text-align:center; /*设置水平居中*/
    vertical-align:middle;/*设置垂直居中*/
    }