<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <a [routerLink]="['/']">
                    <img class="logo" src="./assets/img/logo-color.svg">
                    <span class="login_title">{{title}}
                        </span>
                </a>
            </div>
            <div class="login_desc h2">{{subTitle}}</div>
        </div>
        <router-outlet></router-outlet>

    </div>
    <global-footer [links]="links">
            Copyright <i class="anticon anticon-copyright"></i> 2019 <a href="#" target="_blank"> Smart One </a> 出品
        </global-footer>
</div>
