<bsn-toolbar 
    *ngIf="config.toolbar" 
    [config]="config.toolbar" 
    [viewId]="config.viewId"
    [permissions] = "permissions ? permissions : []" 
    ></bsn-toolbar>
    
    <nz-card [nzBodyStyle]="{padding: '0px'}">
        <div 
        [ngStyle]="{overflow: 'auto',height: config.height}"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false">
      <nz-tree
        class="tree" 
        [(ngModel)]="treeData" 
        [nzAsyncData]="config.asyncData" 
        [nzDefaultExpandAll]="config.expandAll"
        [nzCheckable]="config.checkable" 
        [nzDefaultCheckedKeys]="checkedKeys" 
        [nzDefaultSelectedKeys]="selectedKeys"
        [nzMultiple]="false" 
        (nzCheckBoxChange)="checkboxChange($event)" 
        (nzClick)="onMouseAction('clickNode', $event)">
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node" 
            draggable="true" 
            aria-grabbed="true" 
            [class.active]="activedNode?.key===node.key"
            (contextmenu)="contextMenu($event,contextTemplate)"
            >
            <span *ngIf="!node.isLeaf" 
              [class.shine-animate]="node.origin.isLoading" 
             >
              <i class="anticon anticon-folder" *ngIf="!node.isExpanded"></i>
              <i class="anticon anticon-folder-open" *ngIf="node.isExpanded"></i>
              <span class="folder-name"> {{node.title}}</span>
              <span class="folder-desc"> {{node?.origin?.author}}</span>
            </span>
            <span *ngIf="node.isLeaf">
              <i class="anticon anticon-file"></i>
              <span class="file-name"> {{node.title}}</span>
              <span class="file-desc"> {{node?.origin?.author}}</span>
            </span>
          </span>
        </ng-template>
        <ng-template  #contextTemplate>
          <cn-bsn-tree-menu [config]="config.menus" [dropdown]="dropdown"></cn-bsn-tree-menu>
        </ng-template>
      </nz-tree>
    </div>
    </nz-card>

