<p>
  bsn-markdown works!
</p>
<nz-card nzTitle="公式编辑器">
  <nz-tabset>
    <nz-tab nzTitle="特殊字符">
      <div id="box1" class="icon_box active" style="font-size: 16px;color: rgb(0, 0, 0);font-family: arial, 宋体, sans-serif;">
        <ul>
          <ng-template ngFor let-liconfig [ngForOf]="ZFconfig">
            <li (click)="FH($event,liconfig.value,liconfig.name)">{{liconfig.name}}</li>
          </ng-template>
        </ul>
      </div>
    </nz-tab>
    <nz-tab nzTitle="形位公差符号">
      形位公差符号
    </nz-tab>
    <nz-tab nzTitle="模板">
      <button nz-button nzType="default" (click)="CheckTemplate('char')">特殊字符</button>
      <button nz-button nzType="default" (click)="CheckTemplate('text')">文本</button>
      <button nz-button nzType="default" (click)="CheckTemplate('symbol')">运算符号</button>
      <button nz-button nzType="default" (click)="CheckTemplate('sup')">上标</button>
      <button nz-button nzType="default" (click)="CheckTemplate('sub')">下标</button>
      <button nz-button nzType="default" (click)="CheckTemplate('supb')">上下标</button>
      <button nz-button nzType="default" (click)="CheckTemplate('unit ')">计量单位</button>
      <button nz-button nzType="primary" (click)="EmptyGS()">清空</button>
      <button nz-button nzType="primary" (click)="delcol()">删除</button>
    </nz-tab>
    <nz-tab nzTitle="常用公式">
      <nz-list [nzDataSource]="data" nzBordered nzSize="small" [nzHeader]="'公式格式'" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item>
            {{item.value}} :{{item.showValue}}
          </nz-list-item>
        </ng-template>
      </nz-list>

    </nz-tab>
  </nz-tabset>


</nz-card>
<div>
  <!-- 动态公式输入 -->
  <div nz-row>
    <div nz-col *ngFor="let c of gsShowConfig" nzSpan="c.sapn" [nzXs]="c.sapn" [nzSm]="c.sapn" [nzMd]="c.sapn" [nzLg]="c.sapn" [nzXl]="c.sapn" (click)="selectCol(c)"  [ngStyle]="c.selected ?  {'background-color': '#fff7ca','border':'1px dashed #F00','height':'90px'}: {'height':'90px' } ">
      <ng-container *ngIf="c.type === 'char'">
        <div style="margin-top: 20px;">
          <input nz-input placeholder="特殊字符" nzSize="large" (focus)="inputFocus(c.key,c.type)" (ngModelChange)="inputValueChange($event,c.key,c.type)"  [(ngModel)]="c.value" />
        </div>
      </ng-container>
      <ng-container *ngIf="c.type === 'text'">
        <div style="margin-top: 20px;">
          <input nz-input placeholder="文本" nzSize="large" (ngModelChange)="inputValueChange($event,c.key,c.type)"   [(ngModel)]="c.value" />
        </div>
      </ng-container>
      <ng-container *ngIf="c.type === 'symbol'">
        <div style="margin-top: 20px;">
          <input nz-input placeholder="运算符号" nzSize="large" (focus)="inputFocus(c.key,c.type)" (ngModelChange)="inputValueChange($event,c.key,c.type)"   [(ngModel)]="c.value" />
        </div>
      </ng-container>
      <ng-container *ngIf="c.type === 'sup'">
        <input nz-input placeholder="上标" nzSize="large" (ngModelChange)="inputValueChange($event,c.key,c.type)"   [(ngModel)]="c.value" />
      </ng-container>
      <ng-container *ngIf="c.type === 'sub'">
        <div style="margin-top: 40px;">
          <input nz-input placeholder="下标" nzSize="large" (ngModelChange)="inputValueChange($event,c.key,c.type)"   [(ngModel)]="c.value" />
        </div>
      </ng-container>
      <ng-container *ngIf="c.type === 'supb'">
        <div nz-row style="margin-top: 5px;">
          <div nz-col *ngFor="let cc of c.content" [nzSpan]="cc.span">
            <ng-container *ngIf="cc.type === 'sup'">
              <input nz-input placeholder="上标" nzSize="large" (ngModelChange)="inputValueChange($event,cc.key,'supbsup')"   [(ngModel)]="cc.value" />
            </ng-container>
            <ng-container *ngIf="cc.type === 'sub'">
              <input nz-input placeholder="下标" nzSize="large" (ngModelChange)="inputValueChange($event,cc.key,'supbsub')"   [(ngModel)]="cc.value" />
            </ng-container>
          </div>
        </div>

      </ng-container>
    </div>
  </div>

</div>
<p>公式预览如下：</p>
<div id="test-markdown-view" style="height: 100px;">
  <!-- Server-side output Markdown text -->
  <!-- <textarea style="display:none;">

  </textarea> -->
</div>
<button nz-button nzType="primary" (click)="createImg()">插入公式</button>
<div id="tablecontent" (keydown)="keyEventFun($event)" contenteditable="true" style="border:1px solid #d9d9d9; background-color: #fff; min-height: 150px;;">
   测试 <span contenteditable=false class="someSpanStyle">aa</span> 测试
   <div>001</div> <div>002</div>
  </div>

  <div   contenteditable="true" style="border:1px solid #d9d9d9; background-color: #fff; min-height: 150px;;">
     <ng-container *ngFor="let c of gsShowConfig" >
        <ng-container *ngIf="c.type === 'char'">

        </ng-container>
     </ng-container>


   </div>
