
<nz-modal [(nzVisible)]="isVisible" nzTitle="项目编辑器" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" (nzAfterOpen)="modelOpen()" (nzAfterClose) ="modelClose()" nzWidth="768" nzMaskClosable="false">
    <cn-form-resolver  *ngIf="formConfig"  #contentForm [config]="formConfig" [formValue]="form_value" (returnItemValue)="returnItemValue($event)"></cn-form-resolver>
  <nz-card >

    <nz-tabset>
      <nz-tab nzTitle="特殊字符">
        <div id="box1" class="icon_box active" style="font-size: 16px;color: rgb(0, 0, 0);font-family: arial, 宋体, sans-serif;">
          <ul>
            <ng-template ngFor let-liconfig [ngForOf]="GreekAlphabet">
              <li (click)="FH($event,liconfig.value,liconfig.name,liconfig.type)">{{liconfig.name}}</li>
            </ng-template>
          </ul>
        </div>
      </nz-tab>
      <nz-tab nzTitle="运算符号">
        <div  class="icon_box active" style="font-size: 16px;color: rgb(0, 0, 0);font-family: arial, 宋体, sans-serif;">
          <ul>
            <ng-template ngFor let-liconfig [ngForOf]="MathematicalSymbols">
              <li (click)="FH($event,liconfig.value,liconfig.name,liconfig.type)">{{liconfig.name}}</li>
            </ng-template>
          </ul>
        </div>
      </nz-tab>
      <nz-tab nzTitle="形位公差符号">
        <div  class="icon_box active" style="font-size: 16px;color: rgb(0, 0, 0);font-family: arial, 宋体, sans-serif;">
          <ul>
            <ng-template ngFor let-liconfig [ngForOf]="Geometric">
              <li (click)="FH($event,liconfig.value,liconfig.name,liconfig.type)">{{liconfig.name}}</li>
            </ng-template>
          </ul>
        </div>
      </nz-tab>
      <nz-tab nzTitle="模板">
        <button nz-button nzType="default" (click)="CheckTemplate('char')">特殊字符</button>
        <button nz-button nzType="default" (click)="CheckTemplate('design')">设计值</button>
        <button nz-button nzType="default" (click)="CheckTemplate('symbol')">运算符号</button>
        <button nz-button nzType="default" (click)="CheckTemplate('sup')">上标</button>
        <button nz-button nzType="default" (click)="CheckTemplate('sub')">下标</button>
        <button nz-button nzType="default" (click)="CheckTemplate('supb')">上下标</button>
        <button nz-button nzType="default" (click)="CheckTemplate('text')">文本描述</button>
        <!-- <button nz-button nzType="default" (click)="CheckTemplate('unit ')">计量单位</button> -->
        <button nz-button nzType="primary" (click)="EmptyGS()">清空</button>
        <button nz-button nzType="primary" (click)="delcol()">删除</button>
      </nz-tab>
      <nz-tab nzTitle="常用公式">
        ...敬请期待...
        <!-- <nz-list [nzDataSource]="data" nzBordered nzSize="small" [nzHeader]="'公式格式'" [nzRenderItem]="item">
          <ng-template #item let-item>
            <nz-list-item>
              {{item.value}} :{{item.showValue}}
            </nz-list-item>
          </ng-template>
        </nz-list> -->

      </nz-tab>
    </nz-tabset>


  </nz-card>
  <div style="min-height: 100px;">
    <!-- 动态公式输入 -->
    <div nz-row>
      <div nz-col *ngFor="let c of gsShowConfig" nzSpan="c.sapn" [nzXs]="c.sapn" [nzSm]="c.sapn" [nzMd]="c.sapn" [nzLg]="c.sapn" [nzXl]="c.sapn" (click)="selectCol(c)"  [ngStyle]="c.selected ?  {'background-color': '#fff7ca','border':'1px dashed #F00','height':'90px'}: {'height':'90px' } ">
        <ng-container *ngIf="c.type === 'projectName'">
          <div style="margin-top: 20px;">
            <input nz-input  readonly="readonly"  placeholder="项目名称" nzSize="large" (focus)="inputFocus(c.fkey,c.type)"   [(ngModel)]="c.value" />
          </div>
        </ng-container>
        <ng-container *ngIf="c.type === 'char'">
          <div style="margin-top: 20px;">
            <input nz-input  readonly="readonly"  placeholder="特殊字符" nzSize="large" (focus)="inputFocus(c.fkey,c.type)" (ngModelChange)="inputValueChange($event,c.fkey,c.type)"  [(ngModel)]="c.value" />
          </div>
        </ng-container>
        <ng-container *ngIf="c.type === 'design'">
          <div style="margin-top: 20px;">
            <input nz-input placeholder="设计值" nzSize="large" (ngModelChange)="inputValueChange($event,c.fkey,c.type)"   [(ngModel)]="c.value" />
          </div>
        </ng-container>
        <ng-container *ngIf="c.type === 'text'">
          <div style="margin-top: 20px;">
            <input nz-input placeholder="文本描述" nzSize="large" (ngModelChange)="inputValueChange($event,c.fkey,c.type)"   [(ngModel)]="c.value" />
          </div>
        </ng-container>
        <ng-container *ngIf="c.type === 'symbol'">
          <div style="margin-top: 20px;">
            <input nz-input readonly="readonly" placeholder="运算符号" nzSize="large" (focus)="inputFocus(c.fkey,c.type)" (ngModelChange)="inputValueChange($event,c.fkey,c.type)"   [(ngModel)]="c.value" />
          </div>
        </ng-container>
        <ng-container *ngIf="c.type === 'sup'">
          <input nz-input placeholder="上标" nzSize="large" (ngModelChange)="inputValueChange($event,c.fkey,c.type)"   [(ngModel)]="c.value" />
        </ng-container>
        <ng-container *ngIf="c.type === 'sub'">
          <div style="margin-top: 40px;">
            <input nz-input placeholder="下标" nzSize="large" (ngModelChange)="inputValueChange($event,c.fkey,c.type)"   [(ngModel)]="c.value" />
          </div>
        </ng-container>
        <ng-container *ngIf="c.type === 'supb'">
          <div nz-row style="margin-top: 5px;">
            <div nz-col *ngFor="let cc of c.content" [nzSpan]="cc.span">
              <ng-container *ngIf="cc.type === 'sup'">
                <input nz-input placeholder="上标" nzSize="large" (ngModelChange)="inputValueChange($event,cc.fkey,'supbsup')"   [(ngModel)]="cc.value" />
              </ng-container>
              <ng-container *ngIf="cc.type === 'sub'">
                <input nz-input placeholder="下标" nzSize="large" (ngModelChange)="inputValueChange($event,cc.fkey,'supbsub')"   [(ngModel)]="cc.value" />
              </ng-container>
            </div>
          </div>

        </ng-container>
        <ng-container *ngIf="c.type === 'projectName'">
          <div style="margin-top: 20px;">
            <input nz-input  readonly="readonly"  placeholder="项目名称" nzSize="large" (focus)="inputFocus(c.fkey,c.type)"   [(ngModel)]="c.value" />
          </div>
        </ng-container>
      </div>
    </div>

  </div>
  <hr>
  <p>公式预览如下：</p>
  <div id="test-markdown-view" #markdownview  style="height: 60px;">
    <!-- Server-side output Markdown text -->
    <textarea style="display:none;">
    </textarea>
  </div>
</nz-modal>
<button nz-button nzSize="small" nzType="primary" (click)="showModal()">插入项目</button>
<!-- <button nz-button  nzSize="small" nzType="primary" (click)="getTextarea()">获取富文本值</button> -->

<div id="tablecontent" #tablecontentview (Input) ="keyEventInput($event)"   (paste)="keyEventPaste($event)" (blur)="contenteditableblur()"  (keydown)="keyEventFun($event)" contenteditable="true" style="border:1px solid #d9d9d9; background-color: #fff; min-height: 150px;    font-size: 12px;
font-variant: tabular-nums;">

  </div>

