<ng-template ngFor let-module [ngForOf]="data">
    <div class="module" id="{{module.text}}" #moduleList>
        <nz-card [nzTitle] ="title" [nzBodyStyle]="bodyStyle">
            <nz-list [nzDataSource]="module.children" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
                    <ng-template #item let-fun>
                      <nz-list-item [nzContent]="nzContent" (click)="selectItem(fun,module.text)">
                        <ng-template #nzContent>
                          <nz-card  [ngClass]="{'bg-grey-lighter': true, 'card_hover': true}">
                                <a class="d-block text-center">
                                        <i nz-icon [nzType]="fun.icon" nzTheme="outline" class="text-blue-5 display-1 mb-md"></i>
                                        <!-- <i class="anticon anticon-user display-1 mb-md"></i> -->
                                    <h2>{{fun.text}}</h2>
                                </a>
                          </nz-card>
                        </ng-template>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
            
    </nz-card>
    <ng-template #title>
            <h1><span style="color:#333;font-weight: 500;"> {{module.text}}</span></h1> 
     </ng-template>
    </div>
        
</ng-template>