<div class="table-operations">
    <span *ngFor="let toolbar of toolbarConfig">

        <span class="toolbarGroup" *ngIf="toolbar.group">
                <nz-button-group>
                    <button
                        [nzSize]="size ? size : 'default'"
                        [nzType]="btn.type ? btn.type : 'default'"
                        nz-button
                        *ngFor="let btn of toolbar.group"
                        (click)="toolbarAction(btn)"
                        [attr.disabled]="btn.disabled">
                            <strong><i class="{{btn.icon}} {{btn.color}}"></i> {{btn.text}}</strong>
                    </button>
                </nz-button-group>
        </span>
        <span class="toolbarGroup" *ngIf="toolbar.dropdown">
                <nz-dropdown *ngFor="let btn of toolbar.dropdown">
                        <button  nz-button nz-dropdown>
                            <strong>
                                    <i class="anticon anticon-down"></i> {{btn.text}}
                            </strong>
                        </button>
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let b of btn.buttons">
                                <strong>
                                        <a (click)="toolbarAction(b)" [attr.disabled]="b.disabled"><i class="{{b.icon}}"></i> {{b.text}}</a>
                                </strong>
                            </li>
                        </ul>
                </nz-dropdown>
        </span>
    </span>
</div>
