<nz-layout>
    <nz-sider *ngIf="config.collapsedArea"
        style="background-color: #fff;margin-right:5px;"
        [nzCollapsedWidth]="1"
        nzCollapsible
        [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="triggerTemplate"
        [nzWidth]="config.collapsedWidth"
        >
        <i nz-icon class="trigger"  nzTheme="outline"[type]="isCollapsed ? 'right-square' : 'left-square'" (click)="isCollapsed = !isCollapsed"></i>
        <ng-container  *ngIf="config.collapsedViewCfg">
                        <div  class="collapsedArea" nz-row [nzGutter]="6" *ngFor="let row of config.collapsedViewCfg.rows">
                            <div nz-col *ngFor="let c of row.row.cols" [nzSpan]="c.span" [nzSm]="c.size.nzSm" [nzXs]="c.size.nzXs"
                                [nzMd]="c.size.nzMd" [nzLg]="c.size.nzLg" [nzXl]="c.size.nzXl">
                                <cn-layout-resolver [initData]="initData" [layoutId]="layoutId" [permissions]="permissions"
                                    [config]="c" [tempValue]="tempValue" (updateValue)="valueChange($event)"></cn-layout-resolver>
                                <nz-card *ngIf="c.viewCfg" [nzTitle]="c.title ? cardTitle : false" nzBordered="false"
                                    [nzBodyStyle]="c.bodyStyle ? c.bodyStyle : { padding: '8px'}">
                                    <ng-template #cardTitle>
                                        {{ c.title }}
                                    </ng-template>
                                    <div *ngIf="c.handle && c.handle === 'single'; else: elseTemplate">
                                        <ng-container cnLayoutResolverDirective [layoutId]="layoutId" [config]="c"
                                            [permissions]="permissions" (updateValue)="valueChange($event)"></ng-container>
                                    </div>
                                    <ng-template #elseTemplate>
                                        <cn-component-resolver *ngFor="let cfg of c.viewCfg" [layoutId]="layoutId"
                                            [permissions]="permissions" [config]="cfg" [initData]="initData" [tempValue]="tempValue"
                                            (updateValue)="valueChange($event)"></cn-component-resolver>
                                    </ng-template>
                                </nz-card>
                            </div>
                        </div>
                    </ng-container>
    </nz-sider>
    <nz-content>
        <ng-container *ngIf="config.rows">
            <div nz-row [nzGutter]="6" *ngFor="let row of config.rows">
                <div nz-col *ngFor="let c of row.row.cols" [nzSpan]="c.span" [nzSm]="c.size.nzSm" [nzXs]="c.size.nzXs"
                    [nzMd]="c.size.nzMd" [nzLg]="c.size.nzLg" [nzXl]="c.size.nzXl">
                    <cn-layout-resolver [initData]="initData" [layoutId]="layoutId" [permissions]="permissions"
                        [config]="c" [tempValue]="tempValue" (updateValue)="valueChange($event)"></cn-layout-resolver>
                    <nz-card *ngIf="c.viewCfg" [nzTitle]="c.title ? cardTitle : false" nzBordered="false"
                        [nzBodyStyle]="c.bodyStyle ? c.bodyStyle : { padding: '8px'}">
                        <ng-template #cardTitle>
                            <!-- <i nz-icon [type]="c.icon ? c.icon : ordered-list" [theme]="c.theme ? c.theme : 'outline'"></i> -->
                            <ng-container *ngIf="c.titlePaddingleft">
                                    <span style="padding-left: 16px;">{{ c.title }} </span>
                            </ng-container>
                            <ng-container *ngIf="!c.titlePaddingleft">
                                   {{ c.title }}
                            </ng-container>

                        </ng-template>
                        <div *ngIf="c.handle && c.handle === 'single'; else: elseTemplate">
                            <ng-container cnLayoutResolverDirective [layoutId]="layoutId" [config]="c"
                                [permissions]="permissions" (updateValue)="valueChange($event)"></ng-container>
                        </div>
                        <ng-template #elseTemplate>
                            <cn-component-resolver *ngFor="let cfg of c.viewCfg" [layoutId]="layoutId"
                                [permissions]="permissions" [config]="cfg" [initData]="initData" [tempValue]="tempValue"
                                (updateValue)="valueChange($event)"></cn-component-resolver>
                        </ng-template>
                    </nz-card>
                </div>
            </div>
        </ng-container>
    </nz-content>
</nz-layout>
<ng-template #trigger>
    <i nz-icon type="up"></i>
</ng-template>
