<bsn-toolbar *ngIf="config.toolbar" [permissions]="permissions ? permissions : []" [config]="config.toolbar"
    [viewId]="config.viewId"></bsn-toolbar>
<nz-table #nzTable [nzData]="dataList" [nzSize]="config.size" [nzFrontPagination]="false" [nzShowSizeChanger]="true"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowTotal]="totals"
    [nzPageSizeOptions]="config.pageSizeOptions" [nzLoading]="loading" (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)" [nzTitle]="this.config.title ? title : false" [nzNoResult]="noResult"
    [nzLoadingDelay]="50" [nzScroll]="config.scroll ? config.scroll : {}" nzBordered>

    <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr (contextmenu)="contextMenu($event,contextTemplate)">
            <th *ngIf="config.showCheckBox" nzWidth="50px"
                [nzShowCheckbox]="config.showCheckBox ? config.showCheckBox : false" [(nzChecked)]="allChecked"
                [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)">
            </th>
            <ng-template ngFor let-col [ngForOf]="config.columns">
                <th [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter" 
                *ngIf="(col.hasOwnProperty('titleHidden')? !col.titleHidden :!col.hidden) && !col.left"
                attr.rowspan="{{ col.rowspan?col.rowspan:1 }}" attr.colspan="{{ col.colspan?col.colspan:1 }}"
                    [nzSortKey]="col.field" [nzWidth]="col.width?col.width:''"
                    [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                    <!--  [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)" -->
                    {{col.title}}
                </th>
                <th [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter" 
                *ngIf="(col.hasOwnProperty('titleHidden')? !col.titleHidden :!col.hidden) && col.left"
                attr.rowspan="{{ col.rowspan?col.rowspan:1 }}" attr.colspan="{{ col.colspan?col.colspan:1 }}"
                    [nzSortKey]="col.field" [nzWidth]="col.width?col.width:''"
                    [ngClass]="[col.titleAlign ? col.titleAlign : '']" [nzLeft] = 'col.left'>
                    <!--  [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)" -->
                    {{col.title}}
                </th>
            </ng-template>
            <!-- <th></th> -->
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngIf="config.suspension">
            <th *ngIf="config.showCheckBox"  [ngStyle]="{'width': col.width}">
            </th>
            <ng-template ngFor let-col [ngForOf]="config.columns">
                <th *ngIf="!col.hidden && col.left" [ngStyle]="{'width': col.width, 'padding':'8px', 'border-right': '1px solid #e8e8e8', 'z-index':2}"
                    [ngClass]="[col.titleAlign ? col.titleAlign : '']" nzLeft="col.left">
                    [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)"
                    {{col.title}}
                </th>
                <th *ngIf="!col.hidden && !col.left" [ngStyle]="{'width': col.width, 'padding':'8px', 'border-right': '1px solid #e8e8e8'}"
                    [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                      [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)"
                     {{col.title}}
                </th>
            </ng-template>
        </tr> -->
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <ng-container *ngIf="data.row_status === 'search'; else normalRow">
                <tr>
                    <td *ngIf="config.showCheckBox" [nzShowCheckbox]="config.showCheckBox" [(nzChecked)]="data.checked"
                        nzWidth="50px" (nzCheckedChange)="refChecked()">
                    </td>
                    <ng-template ngFor let-col [ngForOf]="config.columns">
                        <td *ngIf="!col.hidden" [ngStyle]="{'width': col.width}" [nzAlign]="col.align?col.align:'left'">
                            <ng-container *ngIf="col.editor || col.searcheditor">
                                <span *ngIf="!editCache[data.key]['edit']"
                                    [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                    {{!col.dataType?data[col.field]:data[col.field] | date}}

                                </span>
                                <ng-container>
                                    <ng-container *ngIf="col.searcheditor">
                                        <cn-grid-search [bsnData]="tempValue" [initData]="initData"
                                            [rowData]="editCache[data.key].data"
                                            [dataSet]="col.searcheditor.options.dataSet?dataSet[col.searcheditor.options.dataSet]:null"
                                            [searchConfigType]="'searcheditor'" [config]="col.searcheditor.options"
                                            [value]="{key:data.key,name:col.searcheditor.field,data:null,dataText:null}"
                                            [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.searcheditor.field]:''"
                                            (updateValue)="valueChangeSearch($event)"></cn-grid-search>
                                    </ng-container>
                                    <cn-grid-search *ngIf="!col.searcheditor && col.editor" [bsnData]="tempValue"
                                        [initData]="initData" [rowData]="editCache[data.key].data"
                                        [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                        [searchConfigType]="'editor'" [config]="col.editor.options"
                                        [value]="{key:data.key,name:col.editor.field,data:null,dataText:null}"
                                        [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.editor.field]:''"
                                        (updateValue)="valueChangeSearch($event)">
                                    </cn-grid-search>


                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!col.editor">
                                <ng-container *ngIf="!col.type && col.field !=='_serilize' ">
                                    <cn-grid-search *ngIf="!col.searcheditor && !col.editor"
                                        [searchConfigType]="'default'" [bsnData]="tempValue" [initData]="initData"
                                        [rowData]="editCache[data.key].data" [dataSet]="null" [config]="col"
                                        [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                        [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.field]:''"
                                        (updateValue)="valueChangeSearch($event)"></cn-grid-search>
                                </ng-container>

                            </ng-container>

                        </td>
                    </ng-template>
                </tr>
            </ng-container>
            <ng-template #normalRow>
                <tr (click)="selectRow(data, $event)"
                    [ngStyle]="data.selected ?  {'background-color': '#fff7ca'}: { } ">
                    <td *ngIf="config.showCheckBox" [nzShowCheckbox]="config.showCheckBox" [(nzChecked)]="data.checked"
                        (nzCheckedChange)="refChecked($event)">
                    </td>
                    <ng-template ngFor let-col [ngForOf]="config.columns">
                        <!-- [ngStyle]="{'width': col.width}" -->
                        <ng-container *ngIf="!col.hidden && !col.left">
                            <td  [nzAlign]="col.align?col.align:'left'" [attr.rowspan]="editCache[data['key']]['mergeData'][col.field]?(editCache[data['key']]['mergeData'][col.field].groupIndex===1 ? editCache[data['key']]['mergeData'][col.field]['groupNum'] : 1):1"
                            [attr.colspan]="editCache[data['key']]['mergeData'][col.field]?(editCache[data['key']]['mergeData'][col.field]['colgroupIndex']===1 ? editCache[data['key']]['mergeData'][col.field]['colgroupNum'] : 1):1"
                            *ngIf="!editCache[data['key']]['mergeData'][col.field] || ( editCache[data['key']]['mergeData'][col.field]['groupIndex'] === 1 && editCache[data['key']]['mergeData'][col.field]['colgroupIndex'] === 1 )">
                          <!--   [attr.rowspan]="editCache[data['key']]['mergeData'][col.field]?(editCache[data['key']]['mergeData'][col.field].groupIndex===1 ? editCache[data['key']]['mergeData'][col.field]['groupNum'] : 1):1"
                            [attr.colspan]="editCache[data['key']]['mergeData'][col.field]?(editCache[data['key']]['mergeData'][col.field]['colgroupIndex']===1 ? editCache[data['key']]['mergeData'][col.field]['colgroupNum'] : 1):1"
                            *ngIf="!editCache[data['key']]['mergeData'][col.field] || ( editCache[data['key']]['mergeData'][col.field]['groupIndex'] === 1 && editCache[data['key']]['mergeData'][col.field]['colgroupIndex'] === 1 )" -->

                                <ng-container *ngIf="col.editor">
                                    <span *ngIf="!editCache[data.key]['edit']"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                        <span
                                            *ngIf="!col.showFormat">{{!col.dataType?data[col.field]:data[col.field] | date}}</span>
                                        <ng-container [bsnData]="tempValue" [initData]="initData"
                                            [rowData]="editCache[data.key].data"
                                            [dataSet]="col.showFormat.options.dataSet?dataSet[col.showFormat.options.dataSet]:null"
                                            CnGridEditorDirective *ngIf="col.showFormat" [config]="col.showFormat.options"
                                            [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.showFormat.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                            [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.showFormat.field]:''"
                                            (updateValue)="valueChange($event)">
                                        </ng-container>
                                    </span>
                                    <!-- <ng-container [bsnData]="tempValue" [initData]="initData" [rowData]="editCache[data.key].data" [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                        CnGridEditorDirective *ngIf="editCache[data.key].edit" [config]="col.editor.options" [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                        (updateValue)="valueChange($event)">
                                    </ng-container> -->
                                    <ng-container *ngIf="editCache[data.key].edit">
                                        <ng-container *ngIf="_isArray(col.editor)">
                                            <!-- <p>调用新的简析方法,将配置简析</p> -->
    
                                            <cn-grid-edit *ngIf="col.editor" [searchConfigType]="'default'"
                                                [bsnData]="tempValue" [initData]="initData"
                                                [rowData]="editCache[data.key].data" [dataSet]="null" [config]="col"
                                                [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.field]:''"
                                                (updateValue)="valueChange($event)"></cn-grid-edit>
    
                                        </ng-container>
                                        <ng-container *ngIf="!_isArray(col.editor)">
                                            <ng-container [bsnData]="tempValue" [initData]="initData"
                                                [rowData]="editCache[data.key].data"
                                                [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                CnGridEditorDirective *ngIf="editCache[data.key].edit"
                                                [config]="col.editor.options"
                                                [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                                [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                                (updateValue)="valueChange($event)">
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!col.editor">
                                    <span *ngIf="!col.showFormat"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'']">{{data[col.field]}}</span>
                                    <ng-container [bsnData]="tempValue" [initData]="initData"
                                        [rowData]="editCache[data.key].data"
                                        [dataSet]="col.showFormat.options.dataSet?dataSet[col.showFormat.options.dataSet]:null"
                                        CnGridEditorDirective *ngIf="col.showFormat" [config]="col.showFormat.options"
                                        [value]="{key:data.key,name:col.showFormat.field,data:editCache[data.key].data[col.showFormat.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.showFormat.field]:''"
                                        (updateValue)="valueChange($event)"> </ng-container>
                                        <ng-container
                                            *ngIf="col.type && col.name && col.conditionField && col.hidden === showbutton(data[col.conditionField], col.condition, col.alwaysShow)||
                                            col.type && col.name && col.alwaysShow && col.hidden === showbutton(data[col.conditionField], col.condition, col.alwaysShow)">
                                            <div class="editable-row-operations">
                                                <button nz-button nzType="primary" nzBlock
                                                    (click)="execFun(col.actionName,data.key)">{{col.name}}</button>
                                            </div>
                                        </ng-container>
                                </ng-container>
                            </td>
                        </ng-container>
               
                        <ng-container *ngIf="!col.hidden && col.left">
                            <td [nzAlign]="col.align?col.align:'left'" [nzLeft]="col.left"
                            [attr.rowspan]="editCache[data['key']]['mergeData'][col.field]?(editCache[data['key']]['mergeData'][col.field].groupIndex===1 ? editCache[data['key']]['mergeData'][col.field]['groupNum'] : 1):1"
                            [attr.colspan]="editCache[data['key']]['mergeData'][col.field]?(editCache[data['key']]['mergeData'][col.field]['colgroupIndex']===1 ? editCache[data['key']]['mergeData'][col.field]['colgroupNum'] : 1):1"
                            *ngIf="!editCache[data['key']]['mergeData'][col.field] || ( editCache[data['key']]['mergeData'][col.field]['groupIndex'] === 1 && editCache[data['key']]['mergeData'][col.field]['colgroupIndex'] === 1 )">

                                <ng-container *ngIf="col.editor">
                                    <span *ngIf="!editCache[data.key]['edit']"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                        <span
                                            *ngIf="!col.showFormat">{{!col.dataType?data[col.field]:data[col.field] | date}}</span>
                                        <ng-container [bsnData]="tempValue" [initData]="initData"
                                            [rowData]="editCache[data.key].data"
                                            [dataSet]="col.showFormat.options.dataSet?dataSet[col.showFormat.options.dataSet]:null"
                                            CnGridEditorDirective *ngIf="col.showFormat" [config]="col.showFormat.options"
                                            [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.showFormat.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                            [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.showFormat.field]:''"
                                            (updateValue)="valueChange($event)">
                                        </ng-container>
                                    </span>
                                    <!-- <ng-container [bsnData]="tempValue" [initData]="initData" [rowData]="editCache[data.key].data" [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                        CnGridEditorDirective *ngIf="editCache[data.key].edit" [config]="col.editor.options" [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                        (updateValue)="valueChange($event)">
                                    </ng-container> -->
                                    <ng-container *ngIf="editCache[data.key].edit">
                                        <ng-container *ngIf="_isArray(col.editor)">
                                            <!-- <p>调用新的简析方法,将配置简析</p> -->
    
                                            <cn-grid-edit *ngIf="col.editor" [searchConfigType]="'default'"
                                                [bsnData]="tempValue" [initData]="initData"
                                                [rowData]="editCache[data.key].data" [dataSet]="null" [config]="col"
                                                [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.field]:''"
                                                (updateValue)="valueChange($event)"></cn-grid-edit>
    
                                        </ng-container>
                                        <ng-container *ngIf="!_isArray(col.editor)">
                                            <ng-container [bsnData]="tempValue" [initData]="initData"
                                                [rowData]="editCache[data.key].data"
                                                [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                CnGridEditorDirective *ngIf="editCache[data.key].edit"
                                                [config]="col.editor.options"
                                                [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                                [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                                (updateValue)="valueChange($event)">
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!col.editor">
                                    <span *ngIf="!col.showFormat"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'']">{{data[col.field]}}</span>
                                    <ng-container [bsnData]="tempValue" [initData]="initData"
                                        [rowData]="editCache[data.key].data"
                                        [dataSet]="col.showFormat.options.dataSet?dataSet[col.showFormat.options.dataSet]:null"
                                        CnGridEditorDirective *ngIf="col.showFormat" [config]="col.showFormat.options"
                                        [value]="{key:data.key,name:col.showFormat.field,data:editCache[data.key].data[col.showFormat.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.showFormat.field]:''"
                                        (updateValue)="valueChange($event)"> </ng-container>
                                        <ng-container
                                            *ngIf="col.type && col.name && col.conditionField && col.hidden === showbutton(data[col.conditionField], col.condition)">
                                            <div class="editable-row-operations">
                                                <button nz-button nzType="primary" nzBlock
                                                    (click)="execFun(col.actionName,data.key)">{{col.name}}</button>
                                            </div>
                                        </ng-container>
                                </ng-container>
                            </td>
                        </ng-container>
                   
                    </ng-template>
                    <!-- <td></td> -->
                </tr>
            </ng-template>
        </ng-template>
        <tr *ngIf="config.enableColSummary">
            <td></td>
            <ng-template ngFor let-col [ngForOf]="config.columns">
              <td *ngIf="col.type !== 'action' && !col.hidden" nzAlign="right">
                <span *ngIf="col.summary">{{col.summary.label}}
                  {{tempValue[col.summary.name] ? tempValue[col.summary.name] : 0}}</span>
              </td>
            </ng-template>
          </tr>
        <ng-template #title>
            {{config.title ? config.title : ''}}
        </ng-template>
        <ng-template #totals let-total>
            共 {{total}} 条
        </ng-template>
        <ng-template #noResult>
            未查询到任何数据...
        </ng-template>
    </tbody>
</nz-table>
<ng-template #contextTemplate>
    <ul nz-menu nzInDropDown *ngFor="let group of menus">
        <li *ngFor="let btn of group" nz-menu-item (click)="selectMenu(btn, group)">
            <span style="padding-left:15px;padding-right:15px;">
                <strong>
                    <i nz-icon type="setting" theme="outline"></i> {{btn.text}}</strong>
            </span>
        </li>
    </ul>
</ng-template>


<nz-modal [(nzVisible)]="isVisible" nzTitle="高级设置" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-card>
        <div nz-row>
            <div nz-col nzSpan="12">
                <label>表格宽度：</label>
                <input [(ngModel)]="tablewidth" style="width:80px; border:none; border-bottom:1px solid #1890ff;">
            </div>
            <div nz-col nzSpan="12">
                <label>表格高度：</label>
                <input [(ngModel)]="tableheight" style="width:80px; border:none; border-bottom:1px solid #1890ff;">
            </div>
        </div>
    </nz-card>
    <nz-table #basicTable [nzData]="c_data" [nzFrontPagination]="false" [nzShowPagination]="false"
        [nzScroll]="{y:'400px'}" nzSize="middle">
        <thead>
            <tr>
                <th nzWidth="100px">列名称</th>
                <th nzWidth="100px">是否隐藏</th>
                <th nzWidth="100px">宽度</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data" [draggable]="is_drag" (dragstart)="f_ondragstart($event,data)"
                (dragover)="f_ondragover($event,data)" (drop)="f_ondrop($event,data)">
                <td>{{data.title?data.title:data.field}}</td>
                <td>
                    <nz-switch [(ngModel)]="data.hidden" name="bordered"></nz-switch>
                </td>
                <td>
                    <input draggable="false" [(ngModel)]="data.width" (blur)="onblur($event,data)"
                        (focus)="onfocus($event,data)"
                        style="width:80px; border:none; border-bottom:1px solid #1890ff;">
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>