<nz-form-label [nzSpan]="config.labelSize">
  {{config.label}}
</nz-form-label>
<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
  <!-- style="display:none"  type="hidden" (ngModelChange)="valueChange($event)"-->
  <input nz-input   (ngModelChange)="valueChangeTest($event)"   formControlName="{{config.name}}" type="hidden" placeholder="{{config.placeholder}}"
    [(ngModel)]="_value">
  <ng-container *ngIf="config !== undefined">
    <bsn-markdown #BsnMarkdown (onChange)="valueChange($event)" [formConfig]="config.select?config.select.form:null" >loading...</bsn-markdown>
  </ng-container>
</nz-form-control>
