<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
      <nz-form-control>
          <nz-input-group nzSize="large">
              <input nz-input type="hidden" formControlName="cert">
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" class="ant-btn__block">CA登录</button>
  </nz-form-item>
</form>
