
.login-form {
    display: block;
    width: 368px;
    margin: 0 auto;

  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 95%;
  }
  i {
    cursor: pointer;
  }
  .login-form-forgot1 {
    float: right;
    width: 168px;
  }
