

<div class="login-form">
  <span style="font-size: 20px;line-height: 24px;color: #1890ff;font-weight: 500;"> 【修改密码】 </span>
  <hr>
  <form  nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-alert *ngIf="errorApp" [nzType]="'success'" [nzMessage]="errorApp" [nzShowIcon]="true" class="mb-lg">
    </nz-alert>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>登录账号</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="userName" placeholder="请输入账号" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors"
          >请输入登录账号!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldpassword" nzRequired>旧密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-group [nzPrefix]="prefixLock" [nzSuffix]="suffixTemplate_old">
          <input
          nz-input
          [type]="oldpasswordVisible ? 'text' : 'password'"
          id="oldpassword"
          formControlName="oldpassword"
          placeholder="请输入旧密码"
        />
        </nz-input-group>
        <ng-template #suffixTemplate_old>
          <i nz-icon [nzType]="oldpasswordVisible ? 'eye-invisible' : 'eye'" (click)="oldpasswordVisible = !oldpasswordVisible"></i>
        </ng-template>
        <nz-form-explain *ngIf="validateForm.get('oldpassword')?.dirty && validateForm.get('oldpassword')?.errors"
          >请输入旧密码!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>
        <span>
          新密码
          <i
            nz-icon
            nz-tooltip
            nzTitle="长度为至少8个字符；
            字母/数字以及标点符号至少包含2种；
            不允许有空格、中文"
            type="question-circle"
            theme="outline"
          ></i>
        </span>

      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-group [nzPrefix]="prefixLock"  [nzSuffix]="suffixTemplate">
          <input
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
          placeholder="请设置新密码"
        />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
        <label >
          <span>复杂度</span>
        </label>
        
        <nz-progress  class="login-form-forgot1" nzSize="small" [nzStrokeColor]="strokeColor" [nzShowInfo]="false" [nzPercent]="Complexity"  nzStatus="active"></nz-progress>
  
          <nz-form-explain
          *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
        >

          <ng-container *ngIf="validateForm.get('password')?.hasError('required')">
            请输入新密码!
          </ng-container>
          <ng-container *ngIf="validateForm.get('password')?.hasError('maxlength')">密码长度不大于36位</ng-container>
          <ng-container *ngIf="validateForm.get('password')?.hasError('minlength')">密码长度不少于8位</ng-container>
          <ng-container *ngIf="validateForm.get('password')?.hasError('confirmconent')">
             密码由字母和数字组成！<!--Two passwords that you enter is inconsistent! -->
          </ng-container>
          <ng-container *ngIf="validateForm.get('password')?.hasError('agreement')">
            新密码不能和旧密码一致！
         </ng-container>

          
        </nz-form-explain>


      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认新密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
  
        <nz-input-group [nzPrefix]="prefixLock"  [nzSuffix]="suffixTemplate_check">
          <input nz-input  [type]="checkPasswordVisible ? 'text' : 'password'" formControlName="checkPassword" id="checkPassword"   placeholder="请确认密码"/>
        </nz-input-group>
        <ng-template #suffixTemplate_check>
          <i nz-icon [nzType]="checkPasswordVisible ? 'eye-invisible' : 'eye'" (click)="checkPasswordVisible = !checkPasswordVisible"></i>
        </ng-template>
        <nz-form-explain
          *ngIf="validateForm.get('checkPassword')?.dirty && validateForm.get('checkPassword')?.errors"
        >

          <ng-container *ngIf="validateForm.get('checkPassword')?.hasError('required')">
            请输入确认新密码!
          </ng-container>
          <ng-container *ngIf="validateForm.get('checkPassword')?.hasError('confirm')">
             您输入的两个密码不一致！<!--Two passwords that you enter is inconsistent! -->
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
      
        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="submitPwd()">提交</button>
        <a href={{login_url}} style="float: left;">返回登录</a>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</div>
